*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #091921;
    justify-content: center;
    display: flex;
    align-items: center;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#e91e63,#ffc107);
    clip-path: circle(22% at 30% 20%);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffffff,#da00ff);
    clip-path: circle(20% at 70% 90%);
}
.container{
    position: relative;
    background: rgba(255,255,255,0.05);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
    backdrop-filter: blur(15px);
    padding: 30px;
}
h4{
    color: #fff;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.content{
    margin-top: 20px;
    position: relative;
}
.inputBox{
    position: relative;
    width: 350px;
}
.inputBox input{
    width: 100%;
    position: relative;
    padding: 8px 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    z-index: 2;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    color: #fff;
    letter-spacing: 0.05em;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    font-size: 0.85em;
    transform: translateY(-32px);
}
.inputBox i{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(45deg, #ffc107, #FF4685);
    transition: 0.5s;
    z-index: 1;
    border-radius: 4px;
    pointer-events: none;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}
button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e91e63;
    background: none;
    transition: 0.5s;
    font-size: 1em;
    cursor: pointer;
    color: #fff;
}
button:hover{
    background: #da00ff;
}
#show{
    color: #fff;
}